.background-image {
  object-fit: cover;
  object-position: center center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.page-wrapper {
  margin-top: 5.5rem;
  z-index: 1;
  position: relative;
  flex: 1 1 auto;
  width: 100%;
}

.static-page {
  #content {
    background: $white;
  }

  .group-left:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 200%;
    background: $white;
  }
}

.container.is-front {
  padding-right: 0;
  padding-left: 0;
  @include media-breakpoint-up(md){
    padding-right: 15px;
    padding-left: 15px;
  }
}
