{% extends "../base.twig" %}
{% set page_title = 'Udvalg' %}
{% block content %}
  {% include '@components/breadcrumb.twig' %}
  <div class="hero-container">
    <div class="hero hero--image-right">
      <div class="container">
        <div class="hero__content">
          <h1 class="title  underlined" id="content-headline">Udvalg</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container static-page">
    <div class="row">
      <div id="content" class="group-left col-md-8">
        <h2>Aktuelle udvalg</h2>
        <p><a href="search-results.html">Børn og unge-udvalget</a> <span class="text-muted">(1860-2019)</span></p>
        <p><a href="search-results.html">Kulturudvalget</a> <span class="text-muted">(1860-2019)</span></p>
        <p><a href="search-results.html">Social- og beskæftigelsesudvalget</a> <span class="text-muted">(1860-2019)</span></p>
        <p><a href="search-results.html">Social- og beskæftigelsesudvalget</a> <span class="text-muted">(1860-2019)</span></p>
        <p><a href="search-results.html">Teknisk Udvalg</a> <span class="text-muted">(1860-2019)</span></p>
        <p><a href="search-results.html">Økonomiudvalget</a> <span class="text-muted">(1860-2019)</span></p>
        <p><a href="search-results.html">Fælles udvalgsmøde</a> <span class="text-muted">(1860-2019)</span></p>
        <p><a href="search-results.html">Udvalget for besættelse af udvalgsposter</a> <span class="text-muted">(1860-2019)</span></p>

        <h2>HTML eksempler</h2>
        <p> See <a href="https://getbootstrap.com/docs/4.3/">Bootstrap docs</a> for more info.</p>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h3>List examples</h3>
        <ul>
          <li>List</li>
          <li>List</li>
          <li>List</li>
        </ul>
        <ol>
          <li>List</li>
          <li>List</li>
          <li>List</li>
        </ol>
        <strong>Strong text</strong>
        <em>Emphasized text</em>
        <code>Code text</code>
      </div>
      <div class="group-right col-md-4">
        <h2>Optional sidebar</h2>
        <div>Lorem ipsum</div>
      </div>
    </div>
  </div>
{% endblock %}
