<div class="container">
  <div class="row">
    <nav aria-label="breadcrumb mb-0 bg-light">
      <ol class="breadcrumb mb-0 bg-light">
        <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Byrådsarkivet</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
      </ol>
    </nav>
  </div>
</div>
