<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>AAarhus Kommune</h4>
        <p>Aarhus Kommune<br>
          Rådhuset<br>
          Rådhuspladsen 2<br>
          8000 Aarhus C
        </p>
        <p>
          TLF. 89 40 20 00<br>
          CVR-nummer: 55133018
        </p>
        <p><img src="{{ "images/icon-white.svg" }}" alt="Aarhus Kommune"></p>
      </div>
      <div class="col-md-3">
        <h4>Aarhus stadsarkiv</h4>
        <p>Dokk1, niveau 2.2<br>
          Hack Kampmanns Plads 2<br>
          8000 Aarhus C
        </p>
        <p>
          TLF. 41 85 65 45<br>
          Email: <a href="mailto:stadsarkiv@aarhus.dk">stadsarkiv@aarhus.dk</a>
        </p>
      </div>
      <div class="col-md-3 links">
        <h4>Byrådet</h4>
        <a href="{{ "static.html" }}">Om byrådet</a>
        <a href="{{ "static.html" }}">Byrådets medlemmet</a>
        <a href="{{ "static.html" }}">Byrådets historie</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-12 permalinks">
        <a href="#" title="Tilgængelighedserklæring for sitet">Webtilgængelighedserklæring</a>
        <a href="http://adgangforalle.dk/">Læs højt</a>
      </div>
    </div>
  </div>
</div>
