<div class="list-form">
  <form class="form-inline">
    <div class="form-group mr-3">
      <label for="inputyear" class="mr-2">Årstal</label>
      <input class="form-control" type="number">
    </div>
    <div class="form-group">
      <label for="inputsortdate" class="mr-2">Sorter på dato</label>
      <select class="form-control">
        <option>Nyeste først</option>
        <option>Ældste først</option>
      </select>
    </div>
  </form>
</div>
