<div role="navigation" aria-labelledby="block-primaernavigation-menu" id="block-primaernavigation">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="{{ "search-results-agendas.html?search=magistraten&type=Alle&year_from=1860&year_to=2019" }}" class="nav-link">Magistraten</a>
    </li>
    <li class="nav-item">
      <a href="{{ "search-results-agendas.html?search=byraadet&type=Alle&year_from=1860&year_to=2019" }}" class="nav-link is-active">Byrådet</a>
    </li>
    <li class="nav-item">
      <a href="{{ "static.html" }}" class="nav-link">Udvalg</a>
    </li>
  </ul>
</div>
