<div role="navigation" id="block-sekundaernavigation" class="navbar-collapse navbar--secondary justify-content-end">
  <div class="navigation--inner--secondary">
    <ul class="navbar-nav is-secondary-navigation mr-auto">
      <li class="nav-item--secondary-navigation ">
        <a href="{{ "frontpage.html" }}" class="nav-link has-border">Søg</a>
      </li>
    </ul>
  </div>
</div>
