<div role="navigation" id="block-primaernavigation">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="{{ "search-results-agendas.html?type=migistrate&year=2019&sort=desc" }}" class="nav-link">Magistraten</a>
    </li>
    <li class="nav-item">
      <a href="{{ "search-results-agendas.html?type=city_council&year=2019&sort=desc" }}" class="nav-link is-active">Byrådet</a>
    </li>
    <li class="nav-item">
      <a href="{{ "static.html" }}" class="nav-link">Udvalg</a>
    </li>
  </ul>
</div>
