.breadcrumb {
  font-size: 0.9em;

  li.breadcrumb-item {
    &.active {
      color: $black;
    }

    &:not(:first-child){
      &:before {
        color: $black;
        font-size: .8em;

        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-chevron-right);
      }
    }
  }
}
