@font-face {
  font-family: 'OpenSans';
  src:  url('assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
  url('assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

$fa-font-path:        "assets/fonts/FontAwesome";
